@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.header {
    background-color: black;
    text-align: center;
    padding-bottom: 1.6%;
    padding-top: 1.6%;
    margin-bottom: 10%;
    color: white;
    font-family: cursive;
    font-size: 200%;
}


html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0%;
    background-image: url(Pictures/GoodMarrgharita.jpg);
    background-size: cover;
    flex-direction: column;
}

.total {
    border-bottom: double 3px #FFFFFF;
}

.confirmation {
    margin: auto;
    align-self: center;
    padding: 1.77328545%;
    width: 30%;
    background-color: black;
    opacity: 0.7;
    font-size: 160%;
    color: #FFFFFF;
}

a {
    font-size: 100%;
    color: white;

}
