html, body {
    height: 100%;
}

.header {
    background-color: black;
    text-align: center;
    padding-bottom: 1.6%;
    padding-top: 1.6%;
}

a {
    color: white;
    font-size: 200%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: cursive;
    background-image: url(Pictures/Pizzeria.jpg);
    background-size: cover;
}

.bestellung {
    background-color: black;
    color: white;
    margin-top: 5.5%;
    opacity: 0.6;
    width: 30%;
    align-self: center;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.text {
    font-size: 145%;
    padding-bottom: 1%;
    text-align: center;
}

.pizzen {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
}

select {
    font-size: 100%;
}

.formular {
    text-align: center;
}

span {
    font-size: 85%;
}